<tr>
    {% for field in fields %}
        <td class="active">
            {% if field.isSafe %}
                {{ field.render(item)|raw }}
            {% else %}
                {{ field.render(item) }}
            {% endif %}
        </td>
    {% endfor %}
</tr>