<div class="table-responsive">
    <table class="table table-curved">
        <thead>
            <tr>
                {% for field in fields %}
                    <th>
                        {{ field.label }}
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    {% for field in fields %}
                        <td class="active">
                            {% if field.isSafe %}
                                {{ field.render(item)|raw }}
                            {% else %}
                                {{ field.render(item) }}
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>