{% extends 'PinkeenCascadaBundle::base.html.twig' %}

{% block body %}
    {% include 'PinkeenCascadaBundle::header.html.twig' %}
    <div class="container-fluid">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock body %}